Source/LogicApps/getsitetemplates.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "resourceGroupName": {
            "defaultValue": "",
            "type": "string"
        },
        "subscriptionId": {
            "defaultValue": "",
            "type": "string"
        },
        "automationAccountName": {
            "defaultValue": "",
            "type": "string"
        },
        "location": {
            "defaultvalue": "",
            "type": "string"
        },
        "requestsSiteUrl": {
            "defaultvalue": "",
            "type": "string"
        },
        "siteDesignsListId": {
            "defaultValue": "",
            "type": "string"
        }
    },
    "variables": {
        "Singlequote": "'"
    },
    "resources": [
        {
            "comments": "Logic apps",
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "GetSiteDesigns",
            "location": "[parameters('location')]",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {
                            },
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Week",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "Create_job_to_get_Site_Designs": {
                            "runAfter": {
                                "Initialize_SiteDesignExists_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "properties": {
                                        "parameters": {
                                            "SiteUrl": "[parameters('requestsSiteUrl')]"
                                        }
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "put",
                                "path": "[concat('/subscriptions/@{encodeURIComponent(''',parameters('subscriptionId'),''')}/resourceGroups/@{encodeURIComponent(''',parameters('resourceGroupName'),''')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(''',parameters('automationAccountName'),''')}/jobs')]",
                                "queries": {
                                    "runbookName": "GetSiteDesigns",
                                    "wait": true,
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                         "Get_job_output": {
                            "runAfter": {
                                "Create_job_to_get_Site_Designs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azureautomation']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/subscriptions/@{encodeURIComponent(''',parameters('subscriptionId'),''')}/resourceGroups/@{encodeURIComponent(''',parameters('resourceGroupName'),''')}/providers/Microsoft.Automation/automationAccounts/@{encodeURIComponent(''',parameters('automationAccountName'),''')}/jobs/@{encodeURIComponent(body(''Create_job_to_get_Site_Designs'')?[''properties'']?[''jobId''])}/output')]",
                                "queries": {
                                    "x-ms-api-version": "2015-10-31"
                                }
                            }
                        },
                          "Initialize_SiteDesignExists_variable": {
                            "runAfter": {
                                "Initialize_SiteDesignListItemID_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SiteDesignExists",
                                        "type": "boolean",
                                        "value": "@false"
                                    }
                                ]
                            }
                        },
                        "Initialize_SiteDesignListItemID_variable": {
                            "runAfter": {
                                "Initialize_SiteDesigns_variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SiteDesignListItemID",
                                        "type": "integer"
                                    }
                                ]
                            }
                        },
                        "Initialize_SiteDesigns_variable": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SiteDesigns",
                                        "type": "array"
                                    }
                                ]
                            }
                        },
                        "Process_deleted_site_designs": {
                            "actions": {
                                "Get_all_site_designs_from_the_SharePoint_list": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                            }
                                        },
                                        "method": "get",
                                        "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('requestsSiteUrl'),variables('singlequote'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('siteDesignsListId'),variables('singlequote'),'))}/items')]"
                                    }
                                },
                                "Loop_through_site_design_list_items": {
                                    "foreach": "@body('Get_all_site_designs_from_the_SharePoint_list')?['value']",
                                    "actions": {
                                      "Check_if_site_design_exists": {
                                            "actions": {
                                                "Delete_site_design_list_item": {
                                                    "runAfter": {},
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                    }
                                                },
                                                "method": "delete",
                                                "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('requestsSiteUrl'),variables('singlequote'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('siteDesignsListId'),variables('singlequote'),'))}/items/@{encodeURIComponent(items(',variables('singlequote'),'Loop_through_site_design_list_items',variables('singlequote'),')?[',variables('singlequote'),'ID',variables('singlequote'),'])}')]"
                                          
                                            }
                                            }
                                        },
                                    "runAfter": {
                                                "Loop_through_site_designs_array_-_delete": [
                                                    "Succeeded"
                                                ]
                                            },
                                              "expression": {
                                                "and": [
                                                    {
                                                        "equals": [
                                                            "@variables('SiteDesignExists')",
                                                            "@false"
                                                        ]
                                                         },
                                                    {
                                                        "equals": [
                                                            "@items('Loop_through_site_design_list_items')?['PnPTemplate']",
                                                            "@false"
                                                        ]
                                                    }
                                                ]
                                            },
                                            "type": "If"
                                        },
                                        "Loop_through_site_designs_array_-_delete": {
                                            "foreach": "@body('Parse_site_designs_JSON')",
                                            "actions": {
                                                "Check_if_the_site_design_id_matches": {
                                                    "actions": {
                                                        "Set_SiteDesignExists_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SiteDesignExists",
                                                "value": "@true"
                                            }
                                        }
                                    },
                                       "runAfter": {},
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@items('Loop_through_site_design_list_items')?['SiteDesignId']",
                                                                    "@items('Loop_through_site_designs_array_-_delete')['SiteDesignId']"
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            },
                                    "runAfter": {
                                                "Reset_SiteDesignExists_variable": [
                                            "Succeeded"
                                        ]
                                    },
                                   "type": "Foreach",
                                            "runtimeConfiguration": {
                                                "concurrency": {
                                                    "repetitions": 1
                                                }
                                            }
                                        },
                                        "Reset_SiteDesignExists_variable": {
                                            "runAfter": {},
                                            "type": "SetVariable",
                                            "inputs": {
                                                "name": "SiteDesignExists",
                                                "value": "@false"
                                    }
                                }
                            },
                            "runAfter": {
                                        "Get_all_site_designs_from_the_SharePoint_list": [
                                    "Succeeded"
                                ]
                            },
                                    "type": "Foreach",
                                    "runtimeConfiguration": {
                                        "concurrency": {
                                            "repetitions": 1
                                        }
                                    }
                                    }
                        },
                            "runAfter": {
                                "Process_site_designs": [
                                    "Succeeded"
                                ]
                            },
                                                       "type": "Scope"
                        },
                        "Process_site_designs": {
                            "actions": {
                                "Check_if_site_designs_were_found": {
                                    "actions": {
                                        "Loop_through_site_designs_array": {
                                            "foreach": "@body('Parse_site_designs_JSON')",
                                            "actions": {
                                                "Check_if_the_site_design_was_found_in_the_list": {
                                                    "actions": {
                                                        "Create_site_design_list_item": {
                                                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                      "body": {
                                                                    "PnPTemplate": false,
                                                                    "PreviewImage": "@items('Loop_through_site_designs_array')['PreviewImage']",
                                                                    "SiteDesignId": "@items('Loop_through_site_designs_array')['SiteDesignId']",
                                                                    "Store": "@{items('Loop_through_site_designs_array')?['Store']}",
                                                                    "Title": "@items('Loop_through_site_designs_array')['Title']",
                                                                    "WebTemplate": "@items('Loop_through_site_designs_array')['WebTemplate']"
                                                                },
                                "host": {
                                    "connection": {
                                          "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                    }
                                },
                                "method": "post",
                                 "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('requestsSiteUrl'),variables('singlequote'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('siteDesignsListId'),variables('singlequote'),'))}/items')]"
                                }
                            }
                        },
                            "runAfter": {
                                                        "Compose": [
                                    "Succeeded"
                                ]
                            },
            "else": {
                                                        "actions": {
                                                            "Update_list_item_preview_image": {
                                                                "runAfter": {
                                                                    "Update_site_design_list_item": [
                                                                        "Succeeded"
                                ]
                        },
                                                                "type": "ApiConnection",
                            "inputs": {
                               "body": {
                                                                        "body": "{'__metadata':{'type':'SP.Data.SiteDesignsListItem'},'PreviewImage':\n{'Description':'Preview Image',\n'Url':'@{items('Loop_through_site_designs_array')?['PreviewImage']}'\n}\n}",
                                                                        "headers": {
                                                                            "Content-Type": "application/json;odata=verbose",
                                                                            "IF-MATCH": "*",
                                                                            "X-HTTP-Method": "MERGE"
                                                                        },
                                                                        "method": "POST",
                                                                        "uri": "_api/web/lists/GetByTitle('Site Designs')/items(@{first(body('Get_site_design_from_the_sharepoint_list')?['Value'])?['ID']})"
                                                                    },
                                                                       "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                            }
                        },
  "method": "post",
                                   "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('requestsSiteUrl'),variables('singlequote'),'))}/httprequest')]"
                                                                }
                                                            },
                                                            "Update_site_design_list_item": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {
                                                        "body": {  
                                                            "PnPTemplate": false,
                                                            "SiteDesignId": "@items('Loop_through_site_designs_array')['SiteDesignId']",
                                                            "Store": "@{items('Loop_through_site_designs_array')?['Store']}",
                                                            "Title": "@items('Loop_through_site_designs_array')['Title']",
                                                            "WebTemplate": "@items('Loop_through_site_designs_array')['WebTemplate']"
                                                        },
                                                         "host": {
                                                                        "connection": {
                                                                            "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                                        }
                                                                    },
                                                                    "method": "patch",
                                                                    "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('requestsSiteUrl'),variables('singlequote'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('siteDesignsListId'),variables('singlequote'),'))}/items/@{encodeURIComponent(first(body(',variables('singlequote'),'Get_site_design_from_the_sharepoint_list',variables('singlequote'),')?[',variables('singlequote'),'Value',variables('singlequote'),'])?[',variables('singlequote'),'ID',variables('singlequote'),'])}')]"
                                                                           }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "equals": [
                                                                    "@empty(body('Get_site_design_from_the_SharePoint_list')?['value'])",
                                                                     "@true"
                                                                ]
                                                                     }
                                                        ]
                                                    },
                                                    "type": "If"
                                                },
                                                  "Compose": {
                                                    "runAfter": {
                                                        "Get_site_design_from_the_SharePoint_list": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "Compose",
                                                    "inputs": "@body('Get_site_design_from_the_SharePoint_list')?['value']"
                                                },
                                                "Get_site_design_from_the_SharePoint_list": {
                                                    "runAfter": {},
                                                    "type": "ApiConnection",
                                                    "inputs": {       
                                                        "host": {
                                                            "connection": {
                                                                "name": "@parameters('$connections')['sharepointonline']['connectionId']"
                                                            }
                                                        },
                                                        "method": "get",
                                                        "path": "[concat('/datasets/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('requestsSiteUrl'),variables('singlequote'),'))}/tables/@{encodeURIComponent(encodeURIComponent(',variables('singlequote'),parameters('siteDesignsListId'),variables('singlequote'),'))}/items')]",
                                                           "queries": {
                                                            "$filter": "SiteDesignId eq '@{items('Loop_through_site_designs_array')['SiteDesignId']}' or Title eq '@{items('Loop_through_site_designs_array')['Title']}'"
                                                        }
                                             },
                                                    "description": "Get the corresponding list item - if it exists we will update it and if not we will create a new list item."
                                                }
                                            },
                                            "runAfter": {
                                                "Parse_site_designs_JSON": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "Foreach"
                                        },
                                        "Parse_site_designs_JSON": {
                                            "runAfter": {},
                                            "type": "ParseJson",
                                            "inputs": {
                                                "content": "@body('Get_job_output')",
                                                "schema": {
                                                    "items": {
                                                        "properties": {
                                                            "Description": {
                                                                "type": "string"
                                                            },
                                                            "PreviewImage": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "SiteDesignId": {
                                                                "type": "string"
                                                            },
                                                            "Store": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "Title": {
                                                                "type": "string"
                                                            },
                                                            "WebTemplate": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "Title",
                                                            "Description",
                                                            "SiteDesignId",
                                                            "WebTemplate"
                                                        ],
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "contains": [
                                                    "@body('Get_job_output')",
                                                    "{"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If",
                                    "description": "Check if site designs were found in the tenant."
                                }
                            },
                            "runAfter": {
                                "Get_job_output": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Scope"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azureautomation": {
                                "connectionId": "[concat('/subscriptions/',parameters('subscriptionId'),'/resourceGroups/',parameters('resourceGroupName'),'/providers/Microsoft.Web/connections/collabrequest-automation')]",
                                "connectionName": "collabrequest-automation",
                                "id": "[concat('/subscriptions/',parameters('subscriptionId'),'/providers/Microsoft.Web/locations/',parameters('location'),'/managedApis/azureautomation')]"
                            },
                            "sharepointonline": {
                                "connectionId": "[concat('/subscriptions/',parameters('subscriptionId'),'/resourceGroups/',parameters('resourceGroupName'),'/providers/Microsoft.Web/connections/collabrequest-spo')]",
                                "connectionName": "collabrequest-spo",
                                "id": "[concat('/subscriptions/',parameters('subscriptionId'),'/providers/Microsoft.Web/locations/',parameters('location'),'/managedApis/sharepointonline')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}